@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/Circular-Std-Font.ttf");
  font-display: swap; }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  color: black;
  text-decoration: none; }

main {
  top: 96px;
  position: relative; }

.container {
  margin: 0 auto;
  max-width: 300px; }
  @media screen and (min-width: 460px) {
    .container {
      max-width: 450px; } }
  @media screen and (min-width: 768px) {
    .container {
      max-width: 660px; } }
  @media screen and (min-width: 1024px) {
    .container {
      max-width: 940px; } }
  @media screen and (min-width: 1366px) {
    .container {
      max-width: 1260px; } }

section {
  padding: 40px 0; }

.menu {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: white;
  font-family: "Circular Std";
  border-bottom: 1px solid #e4e4e7; }
  .menu-nav {
    height: 90px;
    overflow: hidden;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    gap: 12px; }
    .menu-nav.active {
      height: 100dvh;
      overflow: auto;
      overflow-y: hidden; }
    @media screen and (min-width: 768px) {
      .menu-nav {
        align-items: center;
        flex-direction: row; } }
    .menu-nav-head {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .menu-nav-head-logo {
        max-width: 80px; }
      .menu-nav-head-icon {
        width: 32px;
        height: 32px; }
        @media screen and (min-width: 768px) {
          .menu-nav-head-icon {
            display: none; } }
    .menu-nav-pagesections {
      display: flex;
      flex-direction: column;
      gap: 12px; }
      .menu-nav-pagesections-link {
        border: none;
        padding: 12px 16px;
        color: #000000;
        background-color: #fff;
        border-radius: 8px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        padding-left: 0; }
        .menu-nav-pagesections-link:hover {
          background-color: #f4f4f5; }
      @media screen and (min-width: 768px) {
        .menu-nav-pagesections {
          flex: 1 0 auto;
          flex-direction: row; }
          .menu-nav-pagesections-link {
            padding-left: 16px; } }
    .menu-nav-cta-button {
      border: none;
      padding: 12px 16px;
      color: #fff;
      background-color: #5345bd;
      border-radius: 8px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px; }
      .menu-nav-cta-button:hover {
        background-color: #413597; }
    .menu-nav-copyright {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: end; }
      @media screen and (min-width: 768px) {
        .menu-nav-copyright {
          display: none; } }
      .menu-nav-copyright-text {
        padding-bottom: 8px;
        color: #71717a;
        font-family: "Circular Std";
        font-weight: 300;
        line-height: 24px;
        text-align: left; }

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px; }
  @media screen and (min-width: 1024px) {
    .hero {
      gap: 100px;
      flex-direction: row;
      justify-content: space-between; } }
  .hero-message {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px; }
    .hero-message-title {
      color: #1c1f25;
      font-family: "Circular Std";
      font-size: 52px;
      font-weight: 700;
      line-height: 76.8px;
      text-align: left; }
    .hero-message-image {
      max-width: 100%;
      rotate: 180deg; }
      @media screen and (min-width: 768px) {
        .hero-message-image {
          max-width: 480px; } }
    .hero-message-text {
      color: #888888;
      font-family: "Circular Std";
      font-size: 24px;
      font-weight: 700;
      line-height: 32px;
      text-align: left; }
    .hero-message-cta {
      display: flex;
      justify-content: left;
      align-items: center;
      gap: 24px; }
      .hero-message-cta-button1 {
        border: none;
        padding: 12px 16px;
        color: #fff;
        background-color: #5345bd;
        border-radius: 8px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px; }
        .hero-message-cta-button1:hover {
          background-color: #413597; }
        @media screen and (min-width: 1024px) {
          .hero-message-cta-button1 {
            border: none;
            padding: 24px 32px;
            color: #fff;
            background-color: #5345bd;
            border-radius: 8px;
            font-family: "Inter";
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 150%; }
            .hero-message-cta-button1:hover {
              background-color: #413597; } }
      .hero-message-cta-button2 {
        border: none;
        padding: 12px 16px;
        color: #000000;
        background-color: #fff;
        border-radius: 8px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px; }
        .hero-message-cta-button2:hover {
          background-color: #f4f4f5; }
        @media screen and (min-width: 1024px) {
          .hero-message-cta-button2 {
            border: none;
            padding: 24px 32px;
            color: #000000;
            background-color: #fff;
            border-radius: 8px;
            font-family: "Inter";
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 150%; }
            .hero-message-cta-button2:hover {
              background-color: #f4f4f5; } }
  .hero-images {
    position: relative; }
    .hero-images-back {
      max-width: 100%;
      border-radius: 24px;
      object-fit: cover; }
    @media screen and (min-width: 768px) {
      .hero-images-back {
        max-width: 600px; } }
    @media screen and (min-width: 1024px) {
      .hero-images-back {
        max-width: 100%;
        height: 400px; } }

.benefits {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 0; }
  @media screen and (min-width: 1024px) {
    .benefits {
      gap: 60px;
      flex-direction: row;
      justify-content: center; } }
  .benefits-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    flex: none;
    gap: 1em; }
    @media screen and (min-width: 1024px) {
      .benefits-box {
        flex: 1 0 0; } }
    .benefits-box-title {
      color: #1c1f25;
      font-family: "Circular Std";
      font-size: 36px;
      font-weight: 500;
      line-height: 45.54px;
      text-align: left; }
    .benefits-box-subtitle {
      color: #006729;
      font-family: "DM Mono";
      font-weight: 400;
      font-size: 20px;
      line-height: 26.04px; }
    .benefits-box-text {
      color: #71717a;
      font-family: "Circular Std";
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
      text-align: left; }
  .benefits-list {
    width: 100%; }
    @media screen and (min-width: 1024px) {
      .benefits-list {
        width: 480px; } }
    .benefits-list-item {
      display: flex !important;
      align-items: start;
      gap: 24px;
      padding: 24px;
      border-radius: 24px;
      background-color: #fafafa;
      margin: 12px; }
      .benefits-list-item-box-title {
        margin-bottom: 8px;
        color: #3f71d4;
        font-family: "Circular Std";
        font-size: 20px;
        font-weight: 700;
        line-height: 25.3px;
        text-align: left; }
      .benefits-list-item-box-text {
        color: #505050;
        font-family: "Circular Std";
        font-size: 20px;
        font-weight: 450;
        line-height: 25.3px;
        text-align: left; }
    .benefits-list-indicators {
      display: flex;
      justify-content: center;
      gap: 16px;
      align-self: center;
      list-style: none; }
      .benefits-list-indicators li.slick-active button {
        color: #3f71d4;
        background-color: #3f71d4; }
      .benefits-list-indicators li button {
        border: none;
        color: #d9d9d9;
        background-color: #d9d9d9;
        width: 16px;
        height: 16px;
        border-radius: 50%; }

/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background-color: #d2d2d2;
  border-radius: 10px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3f71d4;
  border-radius: 10px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5345bd; }

.whatwedo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px; }
  .whatwedo-box {
    margin: 0 auto;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px; }
    .whatwedo-box-subtitle {
      color: #006729;
      font-family: "DM Mono";
      font-size: 20px;
      font-weight: 400;
      line-height: 26.04px;
      text-align: center; }
    .whatwedo-box-title {
      color: #1c1f25;
      font-family: "Circular Std";
      font-size: 36px;
      font-weight: 500;
      line-height: 45.54px;
      text-align: center; }
    .whatwedo-box-text {
      color: #71717a;
      font-family: "Circular Std";
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
      text-align: center; }
  .whatwedo-roadmap {
    max-width: 100%; }
    .whatwedo-roadmap-row {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: start;
      justify-content: left;
      gap: 12px;
      overflow: auto;
      padding-bottom: 24px; }
      .whatwedo-roadmap-row-item {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 24px; }
        @media screen and (min-width: 768px) {
          .whatwedo-roadmap-row-item {
            padding: 32px 24px; } }
        .whatwedo-roadmap-row-item-image {
          width: 55px; }
        .whatwedo-roadmap-row-item-box {
          width: 230px; }
          .whatwedo-roadmap-row-item-box-title {
            color: #3f71d4;
            font-family: "Circular Std";
            font-size: 20px;
            font-weight: 700;
            line-height: 25.3px;
            text-align: center; }
        .whatwedo-roadmap-row-item + img {
          align-self: center; }

.faq {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  gap: 32px; }
  .faq-box {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px; }
    .faq-box-subtitle {
      color: #006729;
      font-family: "DM Mono";
      font-size: 20px;
      font-weight: 400;
      line-height: 26.04px;
      text-align: center; }
    .faq-box-title {
      color: #1c1f25;
      font-family: "Circular Std";
      font-size: 36px;
      font-weight: 500;
      line-height: 45.54px;
      text-align: center; }
    .faq-box-text {
      color: #71717a;
      font-family: "Circular Std";
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
      text-align: center; }
  .faq-accordion {
    display: flex;
    flex-direction: column;
    gap: 16px; }
    .faq-accordion-item {
      border-bottom: 1px solid #b6bccd; }
      .faq-accordion-item-head {
        cursor: pointer;
        position: relative;
        /* Auto layout */
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0px 20px 24px 0px;
        gap: 16px; }
        .faq-accordion-item-head-bullet {
          min-width: 4px;
          border-radius: 2px;
          background-color: #3f71d4;
          align-self: stretch; }
          @media screen and (min-width: 768px) {
            .faq-accordion-item-head-bullet {
              align-self: center;
              height: 16px; } }
        .faq-accordion-item-head-title {
          color: #1c1f25;
          font-family: "Circular Std";
          font-size: 20px;
          font-weight: 700;
          line-height: 28.4px;
          text-align: left;
          flex-grow: 1; }
        .faq-accordion-item-head-image {
          align-self: flex-start;
          rotate: 0deg; }
        .faq-accordion-item-head.active .faq-accordion-item-head-image {
          rotate: 180deg; }
      .faq-accordion-item-body {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out; }
        .faq-accordion-item-body-text {
          padding: 0 20px 20px 0;
          color: #4b5162;
          font-family: "Circular Std";
          font-weight: 450;
          line-height: 25.6px; }

.bannercta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  padding: 32px 16px;
  background-color: #f5f5f5; }
  .bannercta-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px; }
    .bannercta-header-subtitle {
      color: #006729;
      font-family: "DM Mono";
      font-size: 20px;
      font-weight: 400;
      line-height: 26.04px;
      text-align: center; }
    .bannercta-header-title {
      color: #1c1f25;
      font-family: "Circular Std";
      font-size: 32px;
      font-weight: 500;
      line-height: 45.54px;
      text-align: center; }
  .bannercta-box {
    display: flex;
    justify-content: space-between;
    gap: 16px; }
    .bannercta-box-button1 {
      border: none;
      padding: 12px 16px;
      color: #fff;
      background-color: #5345bd;
      border-radius: 8px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px; }
      .bannercta-box-button1:hover {
        background-color: #413597; }
      @media screen and (min-width: 768px) {
        .bannercta-box-button1 {
          border: none;
          padding: 24px 32px;
          color: #fff;
          background-color: #5345bd;
          border-radius: 8px;
          font-family: "Inter";
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 150%; }
          .bannercta-box-button1:hover {
            background-color: #413597; } }
    .bannercta-box-button2 {
      border: none;
      padding: 12px 16px;
      color: #5345bd;
      background-color: transparent;
      border: 1px solid #5345bd;
      border-radius: 8px;
      font-family: "Inter";
      font-size: 16px;
      font-weight: 600;
      line-height: 24px; }
      .bannercta-box-button2:hover {
        background-color: #eeecf8; }
      @media screen and (min-width: 768px) {
        .bannercta-box-button2 {
          border: none;
          padding: 24px 32px;
          color: #5345bd;
          background-color: transparent;
          border: 1px solid #5345bd;
          border-radius: 8px;
          font-family: "Inter";
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 150%; }
          .bannercta-box-button2:hover {
            background-color: #eeecf8; } }

.footer {
  border-top: 1px solid #e4e4e7;
  padding: 40px 0;
  margin-top: 80px; }
  .footer div.container {
    display: flex;
    flex-direction: column;
    gap: 4.5rem; }
  .footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
    flex-wrap: wrap;
    gap: 2em; }
    @media screen and (min-width: 1024px) {
      .footer-nav {
        gap: 6.5rem; } }
    .footer-nav-col {
      display: flex;
      flex-direction: column;
      gap: 1.125em; }
      .footer-nav-col:first-child img {
        max-width: 80px; }
      @media screen and (min-width: 1024px) {
        .footer-nav-col:first-child {
          width: fit-content; } }
      .footer-nav-col-link {
        color: #71717a;
        font-family: "Circular Std";
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        border: none;
        background-color: #fff;
        cursor: pointer; }
        .footer-nav-col-link:first-child {
          color: #1c1f25;
          font-weight: 500; }
  .footer-copyright {
    display: flex;
    flex-direction: column;
    gap: 8px; }
    .footer-copyright-text {
      color: #71717a;
      font-family: "Circular Std";
      font-weight: 300;
      line-height: 24px;
      text-align: left; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  /* Modal Content/Box */ }
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    border-radius: 8px;
    background-color: #fff;
    margin: 8% auto;
    /* 8% from the top and centered */
    border: 1px solid #888;
    width: 95%;
    /* Could be more or less, depending on screen size */
    height: fit-content;
    /* The Close Button */ }
    @media screen and (min-width: 620px) {
      .modal-content {
        max-width: 600px; } }
    .modal-content .sib-form {
      padding: 0 !important; }
    .modal-content #sib-container input:-ms-input-placeholder {
      text-align: left;
      font-family: "Circular Std", sans-serif;
      color: #c0ccda; }
    .modal-content #sib-container input::placeholder {
      text-align: left;
      font-family: "Circular Std", sans-serif;
      color: #c0ccda; }
    .modal-content #sib-container textarea::placeholder {
      text-align: left;
      font-family: "Circular Std", sans-serif;
      color: #c0ccda; }
    .modal-content .close-modal {
      color: #aaa;
      position: absolute;
      right: 16px;
      top: 10px;
      font-size: 30px;
      font-weight: bold; }
    .modal-content .close-modal:hover,
    .modal-content .close-modal:focus {
      color: black;
      text-decoration: none;
      cursor: pointer; }
    .modal-content-header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 4px;
      padding: 24px 16px 20px 16px;
      border-bottom: 1px solid #eaecf0; }
      .modal-content-header-title {
        color: #101828;
        font-family: "Circular Std";
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        text-align: left; }
      .modal-content-header-text {
        color: #667085;
        font-family: "Circular Std";
        font-size: 14px;
        font-weight: 450;
        line-height: 20px;
        text-align: left; }
    .modal-content-body {
      padding: 0 16px; }
      .modal-content-body-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 16px; }
        .modal-content-body-form-wrapper {
          display: contents; }
          @media screen and (min-width: 620px) {
            .modal-content-body-form-wrapper {
              display: flex;
              justify-content: space-between;
              gap: 8px; } }
        .modal-content-body-form-control {
          display: flex;
          flex-direction: column;
          gap: 8px;
          flex-grow: 1; }
          .modal-content-body-form-control label {
            color: #344054;
            font-family: "Circular Std";
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            text-align: left; }
          .modal-content-body-form-control input {
            padding: 10px 14px;
            background: #ffffff;
            border: 1px solid #d0d5dd;
            border-radius: 8px;
            font-family: "Circular Std";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            /* identical to box height, or 150% */
            color: #d0d5dd; }
    .modal-content-actions {
      display: flex;
      justify-content: center;
      gap: 12px;
      padding: 32px 16px 16px 16px; }
      .modal-content-actions-cancel {
        flex-grow: 1;
        border: none;
        padding: 12px 16px;
        color: #5345bd;
        background-color: transparent;
        border: 1px solid #5345bd;
        border-radius: 8px;
        font-family: "Inter";
        font-size: 16px;
        font-weight: 600;
        line-height: 24px; }
        .modal-content-actions-cancel:hover {
          background-color: #eeecf8; }
      .modal-content-actions-send {
        flex-grow: 1;
        border: none;
        padding: 12px 16px;
        color: #fff;
        background-color: #5345bd;
        border-radius: 8px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px; }
        .modal-content-actions-send:hover {
          background-color: #413597; }

/*# sourceMappingURL=style.css.map */
