.faq {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    gap: 32px;
    &-box {
      padding: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      &-subtitle {
        color: #006729;
        font-family: "DM Mono";
        font-size: 20px;
        font-weight: 400;
        line-height: 26.04px;
        text-align: center;
      }
      &-title {
        color: #1c1f25;
        font-family: "Circular Std";
        font-size: 36px;
        font-weight: 500;
        line-height: 45.54px;
        text-align: center;
      }
      &-text {
        color: #71717a;
        font-family: "Circular Std";
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        text-align: center;
      }
    }
    &-accordion {
      display: flex;
      flex-direction: column;
      gap: 16px;
      &-item {
          border-bottom: 1px solid #b6bccd;
        &-head {
          cursor: pointer;
          position: relative;
          /* Auto layout */
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          padding: 0px 20px 24px 0px;
          gap: 16px;
          &-bullet {
            min-width: 4px;
            border-radius: 2px;
            background-color: #3f71d4;
            align-self: stretch;
            @media screen and (min-width: 768px) {
              align-self: center;
              height: 16px;
            }
          }
          &-title {
            color: #1c1f25;
            font-family: "Circular Std";
            font-size: 20px;
            font-weight: 700;
            line-height: 28.4px;
            text-align: left;
            flex-grow: 1;
          }
          &-image {
            align-self: flex-start;
            rotate: 0deg;
          }
          &.active {
            .faq-accordion-item-head-image {
              rotate: 180deg;
            }
          }
        }
        &-body {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.2s ease-out;
          &-text {
            padding: 0 20px 20px 0;
            color: #4b5162;
            font-family: "Circular Std";
            font-weight: 450;
            line-height: 25.6px;
          }
        }
      }
    }
  }