.footer {
  border-top: 1px solid #e4e4e7;
  padding-top: 40px;
  & div.container{
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
  }
  margin-top: 80px;
    &-nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: start;
      flex-wrap: wrap;
      gap: 2em;
      @media screen and (min-width: 1024px) {
        gap: 6.5rem;
      }
      &-col {
        display: flex;
        flex-direction: column;
        gap: 1.125em;
        &:first-child {
          width: 100%;
          @media screen and (min-width: 1024px) {
            width: fit-content;
          }
        }
        &-link {
          &:first-child {
            color: #1c1f25;
            font-weight: 500;
          }
          color: #71717a;
          font-family: "Circular Std";
          font-weight: 300;
          line-height: 24px;
        }
      }
    }
    &-copyright {
      display: flex;
      flex-direction: column;
      gap: 8px;
      &-text {
        color: #71717a;
        font-family: "Circular Std";
        font-weight: 300;
        line-height: 24px;
        text-align: left;
      }
    }
  }