.menu {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: white;
  font-family: "Circular Std";
  border-bottom: 1px solid #e4e4e7;
  &-nav {
    height: 90px;
    overflow: hidden;
    transition: 0.4s;
    &.active {
      height: 100dvh;
      overflow: auto;
      overflow-y: hidden;
    }
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px){
      align-items: center;
      flex-direction: row;
    }
    gap: 16px;
    &-head {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-logo {
        max-width: 80px;
      }
      &-icon {
        width: 32px;
        height: 32px;
        @media screen and (min-width: 768px) {
          display: none;

        }
      }
    }
    &-pagesections {
      display: flex;
      flex-direction: column;
      gap: 12px;
      &-link {
        @include button-tertiary-default();
        padding-left: 0;
      }
      // img[class$="dk"].active{}
      @media screen and (min-width: 768px) {
        flex: 1 0 auto;        
        flex-direction: row;
        &-link{
          padding-left: 16px;
        }
      }
    }
    &-lang {
      width: fit-content;
      position: relative;
      border: 2px solid #5345bd;
      background-color: #d8e3f8;
      border-radius: 12px;
      overflow: hidden;
      cursor: pointer;
      &-options {
        height: 44px;
        display: flex;
        flex-direction: row;
        &-flag{
          padding: 8px;
          max-height: 100%;
          background-color: transparent;
          transition: 0.3s;
        }
      }
    }
    &-cta {
      &-button {
        @include button-primary-default();
      }
    }
    &-copyright {
      @media screen and (min-width: 768px) {
        display: none;
      }
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: end;
      &-text {
        padding-bottom: 8px;
        color: #71717a;
        font-family: "Circular Std";
        font-weight: 300;
        line-height: 24px;
        text-align: left;
      }
    }
  }
}
