
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
  
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    /* Modal Content/Box */
    &-content {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 24px;
      border-radius: 8px;
      background-color: #fff;
      margin: 8% auto; /* 8% from the top and centered */
      border: 1px solid #888;
      width: 95%; /* Could be more or less, depending on screen size */
      height: fit-content;
      @media screen and (min-width: 620px) {
        max-width: 600px;
      }
      .sib-form{
        padding: 0 !important;
      }
      #sib-container input:-ms-input-placeholder {
        text-align: left;
        font-family: "Circular Std", sans-serif;
        color: #c0ccda;
      }
    
      #sib-container input::placeholder {
        text-align: left;
        font-family: "Circular Std", sans-serif;
        color: #c0ccda;
      }
    
      #sib-container textarea::placeholder {
        text-align: left;
        font-family: "Circular Std", sans-serif;
        color: #c0ccda;
      }
      /* The Close Button */
      .close-modal {
        color: #aaa;
        position: absolute;
        right: 16px;
        top: 10px;
        font-size: 30px;
        font-weight: bold;
      }

      .close-modal:hover,
      .close-modal:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
      &-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 4px;
        padding: 24px 16px 20px 16px;
        border-bottom: 1px solid #eaecf0;
        &-title {
          color: #101828;
          font-family: "Circular Std";
          font-size: 20px;
          font-weight: 500;
          line-height: 24px;
          text-align: left;
        }
        &-text {
          color: #667085;
          font-family: "Circular Std";
          font-size: 14px;
          font-weight: 450;
          line-height: 20px;
          text-align: left;
        }
        
      }
      &-body {
        padding: 0 16px;
        &-form {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 16px;
          &-wrapper{
            display: contents;
            @media screen and (min-width: 620px) {
              display: flex;
              justify-content: space-between;    
              gap: 8px;       
            }
            
          }
          &-control {
            display: flex;
            flex-direction: column;
            gap: 8px;
            flex-grow: 1;
            & label {
              color: #344054;
              font-family: "Circular Std";
              font-size: 14px;
              font-weight: 500;
              line-height: 20px;
              text-align: left;
            }
            & input {
              padding: 10px 14px;
              background: #ffffff;
              border: 1px solid #d0d5dd;
              border-radius: 8px;
  
                // text
              font-family: "Circular Std";
              font-style: normal;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              /* identical to box height, or 150% */
  
              color: #d0d5dd;
            }
          }
        }
      }
      &-actions{
        display: flex;
        justify-content: center;
        gap: 12px;
        padding: 32px 16px 16px 16px;
  
        &-cancel{
          flex-grow: 1;
          @include button-secondary-default();
        }
        &-send{
          flex-grow: 1;
          @include button-primary-default();
        }
      }
    }
  }
  